.navbar{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
    >ul{
        width: 100%;
        display: inherit;
        justify-content: center;
        gap:2rem;
        >li .logo{
            width: 8rem;
            height: 2rem;
        }   
    }
}
.hidden-menu:hover .popover-content {
    display: block;
  }